body {
    background-color: #1a1a1a;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

.video-container {
    max-width: 90%;
    border-radius: 12px;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    background-color: #000; 
}

.navbar {
    background-color: #1a1a1a;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

.navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f0f0f0;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a i {
    margin-bottom: 4px;
}

.navbar a:hover {
    background-color: #444;
    color: #ffffff;
}

.navbar a.active {
    background-color: #555;
    color: #ffffff;
}

img {
    max-width: 90%;
    height: auto;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.karma-counter {
    margin: 20px 0; 
    color: #f0f0f0;
    text-align: center;
    font-size: 16px;
    margin-right: 250px;
}

.lottery-status {
    text-align: center;
    color: #f0f0f0;
    font-size: 16px;
    margin-bottom: 40px;
    
}